@model IEnumerable<ProyectoAerolineaWeb.Models.Tarifa>

<div id="tarifas" class="container-fluid">
    <h1 class="text-primary">Tarifas Disponibles</h1>

    <div class="row mt-3">
        @foreach (var tarifa in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/tarifas/default.jpg" class="card-img-top" alt="Imagen de tarifa">
                    <div class="card-body">
                        <h5 class="card-title">@tarifa.Nombre</h5>
                        <p class="card-text">Precio: @tarifa.Precio.ToString("C")</p>
                        <form asp-action="SeleccionarTarifa" asp-controller="Tarifas" method="post">
                            <input type="hidden" name="tarifaId" value="@tarifa.Id" />
                            <input type="hidden" name="vueloId" value="@ViewBag.VueloId" />
                            <input type="hidden" name="pasajerosId" value="@ViewBag.PasajerosId" />
                            <button type="submit" class="btn btn-primary">Seleccionar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


